@font-face {
  font-family: "PlayfairDisplay-Medium.ttf";
  src: url(../fonts/PlayfairDisplay-Medium.ttf);
}
html {
  width: 100%;
  height: auto;
}

body {
  height: auto;
  min-height: 100vh;
  margin: 0%;
  font-family: "PlayfairDisplay-Medium.ttf";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr auto 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Header Header Header" "Main Main Main" "Footer Footer Footer";
}
body main {
  background: #e2d9c1;
  flex: 1 0 auto;
  padding: 3% 5% 5% 5%;
}

header {
  grid-area: Header;
  background-color: #44575f;
}

footer {
  grid-area: Footer;
  background-color: #44575f;
  color: white;
  text-align: center;
}

/* MAINS */
/*.navbar {
	padding: 1rem 0;
  }

  .navbar-nav {
	gap: 1rem;
  }

  .nav-link {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform:initial;
	transition: color 0.3s ease;
  }

  .nav-link:hover {
	color: #007bff;
  }

  @media (max-width: 991px) {
	.navbar-nav {
	  text-align: center;
	}
  }*/
.index-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "portada portada portada" "tickets tickets tickets";
  grid-area: Main;
}
.index-main .portada {
  grid-area: portada;
}
.index-main .tickets {
  grid-area: tickets;
  animation: bounce;
  animation-duration: 3s;
}
.index-main .tickets .table-container {
  background-color: #e2e3e5;
  width: 100%;
  overflow-x: auto;
  border-radius: 7px;
  padding: 7px;
}

.botones .separar {
  padding: 3%;
  display: inline-block;
  cursor: pointer;
}
.botones .boton3 {
  color: #7b564c !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #7b564c;
  transition: all 1s ease;
  position: relative;
}
.botones .boton3:hover {
  background: #af7868;
  color: #fff !important;
}

.merch-main {
  grid-area: Main;
  text-align: center;
}
.merch-main .button, .merch-main .button-inactive {
  background-color: #44575f;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  padding: 7px;
}
.merch-main .button:hover, .merch-main .button-inactive:hover {
  transform: translateY(1px);
  box-shadow: 0 0 0 2px #6a8794;
}
.merch-main .button-inactive {
  background-color: grey;
  pointer-events: none;
  cursor: default;
}
.merch-main .button-inactive::after {
  content: " (Sin stock)";
}

.musica-main {
  grid-area: Main;
  text-align: center;
}

.noticias-main {
  grid-area: Main;
  text-align: center;
}
.noticias-main .button, .noticias-main .merch-main .button-inactive, .merch-main .noticias-main .button-inactive {
  background-color: #44575f;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  padding: 7px;
}
.noticias-main .button:hover, .noticias-main .merch-main .button-inactive:hover, .merch-main .noticias-main .button-inactive:hover {
  transform: translateY(1px);
  box-shadow: 0 0 0 2px #6a8794;
}

.biografia-main {
  display: grid;
  grid-template-columns: 0.3fr auto 0.3fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "biografia biografia carrousel" "biografia biografia carrousel";
  grid-area: Main;
}
.biografia-main .biografia {
  grid-area: biografia;
}
.biografia-main .container {
  grid-area: carrousel;
}
.biografia-main .container img {
  height: 50vh;
  margin: auto;
  display: block;
}

/* MEDIAS */
@media only screen and (max-width: 319px) {
  body > *:not(#no-disponible) {
    display: none !important;
  }
  #no-disponible {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 50%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .biografia-main {
    grid-template-areas: "biografia biografia biografia" "carrousel carrousel carrousel";
  }
}

/*# sourceMappingURL=style.css.map */
