body{
	height: auto;
	min-height: 100vh;
    margin: 0%;
	font-family: "PlayfairDisplay-Medium.ttf";
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr auto 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
		"Header Header Header"
		"Main Main Main"
		"Footer Footer Footer";
	main{
		background: $bg-claro;
		flex: 1 0 auto;
		padding: 3% 5% 5% 5%;
	}
}
