.index-main{ 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"portada portada portada"
		"tickets tickets tickets";
	grid-area: Main;
	.portada{ 
		grid-area: portada;
	}
	.tickets{ 
		grid-area: tickets; 
		animation: bounce; 
		animation-duration: 3s; 
		.table-container {
			background-color: #e2e3e5;
			width: 100%;
			overflow-x: auto;
			@include border-radius(7px);
			.botones{
				.separar {
					display: inline-block;
					cursor: pointer;
				}
				.boton3 {
					color: #7b564c !important;
					font-size: 16px;
					font-weight: 500;
					padding: 0.3em 0.8em;
					background: #00000000;
					border: 2px solid;
					border-color: #7b564c;
					transition: all 1s ease;
					position: relative;
				}
				.boton3:hover {
					background: #af7868;
					color: #fff !important;
				}
			}
		}
	}
}