.noticias-main{
	grid-area: Main;
	text-align: center;
	.button{
		background-color: $bg-green;
		color: white;
		text-decoration: none;
		@include border-radius(7px);
	}
	.button:hover{
		transform: translateY(1px);
		box-shadow: 0 0 0 2px #6a8794;
	}
}

